@font-face{
    font-family: 'Varela-Round';
    src: url("../fonts/Varela_Round/VarelaRound-Regular.ttf");
}
body{
    margin: 0;
    font-family: 'Varela-Round';
    overflow-x: hidden;
}
h1{
    color: purple;
    text-align: center;
}
.wrapper{
    margin: 5vh 4vw 0 4vw;
    border-radius: 15vw;
    padding: 2vw;
    background-color: grey;
    border: 1vw solid grey;
    height: 80vh;
}
.home{
    float: left;
    margin-left: 15vw;
    color: lightgreen;
    border: 1px solid lightgreen;
    
}
.settings{
    margin-right: 15vw;
    float: right;
    color: darkgray;
    border: 1px solid grey;
}
.backBtn{
    height: 3vh;
    padding: 1.5vh;
    width: 25vw;
    text-align: center;
    border-radius: 5vh;
    margin-top: 1vh;
}
#moneyGraphic{
    background-color: #efffff;
    border-radius: 7vh 7vh 2vh 2vh;
    margin-bottom: 2vh;
    padding-top: 1vh;
    height: 30vh;
}
#extraInformation{
    background-color: #e5e8ff;
    border-radius: 2vh 2vh 7vh 7vh;
    height: 43vh;
    padding: 2vh;
    overflow-y: scroll;
}
#breakTimes{
}
#moneyMade{
}