@font-face{
    font-family: 'Varela-Round';
    src: url("../fonts/Varela_Round/VarelaRound-Regular.ttf");
}
body{
    background-color: white;
    font-family: 'Varela-Round';
}
h1{
    text-align: center;
    font-size: 12vh;
}
h2{
    padding-top: 2vh;
    font-size: 4vh;
    margin: 0;
}
.informationWrapper{
    margin: 5vh 2vw 5vh 2vw;
    border-radius: 15vw;
    padding: 2vw;
    background-color: grey;
    border: 1vw solid grey;
    height: 40vh;
}
.details{
    background-color: green;
    margin-left: 4vw;
    float: left;
}
.settings{
    background-color: purple;
    margin-right: 4vw;
    float: right;
}
.smallBtn{
    color: white;
    border-radius: 5vw;
    text-align: center;
    padding: 1vw;
    width: 35vw;
    font-size: 4vh;
}
.info{
    text-align: center;
    margin-bottom: 4vw;
    border-radius: 13vw 13vw 2vw 2vw;
    height: 30vh;
    background-color: white;
}
#timeElapsed{
    font-size: 10vh;
}
#moneyEarned{
    font-size: 4vh;
}
#bathroomBreakButton{
    margin: 0 auto;
    width: 70vw;
    height: 32vh;
    background-color: #5ed4ff;
    color: white;
    border-radius: 40vw;
    border: 3vh solid gray;
}